@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

body *{
    font-family: 'Inter', sans-serif;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    max-width: 1920px;
}

/* Left Content */
#info{
    display: flex;
    align-items: flex-start;
    gap: 115px;
}

#concertInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

#concertHeader{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2#concertName{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
}

h2#concertDate{
    color: #000;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
}

#concertPic{
    width: 763px;
    height: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    object-fit: contain;
}

#concertLine{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 58px;
    flex-direction: row;
}

#ticketLine{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 58px;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
}

h2#concertTicket{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #000;
    
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#lineContainer{
    max-width: 1920px;
}

hr{
    width: 763px;
    margin-bottom: 0;
}

h2#text1{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#btn1{
    display: flex;
    width: 160px;
    height: 40px;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0;
    border-radius: 20px;
    background: #FFA62B;
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#concertText{
    width: 560px;
    color: #000;
    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}

/* Right Content */
#recipientSelectBox{
    display: flex;
    padding: 85px;
    width: 255px;
    height: auto;
    flex-direction: column;
    
    align-items: center;
    border-radius: 10px;
    background: #F9F1EB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#recipientList{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 30px;
}

#recipientHeader{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
}

#person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    width: 255px;
    height: 5px;
    border-radius: 5px;
    background: #FFF;
  }
  
.left-content{
    display: flex;
    align-items: center;
    gap:10px;
}
  
.left-content p {
    display: flex;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
  
.right-content button {
    display: inline-flex;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #FFA62B;
    color: white;
    border: 0;
}