/* Navbar CSS */
.navbar {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    height: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
.navbar-left {
  display: flex;
  align-items: center;
}
  
.navbar-right {
  display: flex;
  gap: 0px;
}

#navButton {
  border: 0;
  background-color: transparent;
}