  .balance-modal {
    height: 185px;
    width: 417px;

    margin-left: auto;
    margin-right: 180px;

    z-index: 1000;
  }
  
  .balance-modal .overlap-group {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e4e4e4;
    border-radius: 16px;
    height: 187px;

   position: absolute;
  

    width: 419px;
  }
  
  .balance-modal .frame {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 152px;


    top: 16px;
    width: 384px;
  }
  
  .balance-modal .icon-close {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  .balance-modal .div {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 118px;
    justify-content: space-between;

    margin-left: auto;
    width: 384px;
    

  }
  
  .balance-modal .frame-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    justify-content: center;

    margin-left: auto;

  }
  
  .balance-modal .text-wrapper {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    height: 30px;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 338px;
  }
  
  .balance-modal .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    height: 27px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: 338px;
  }
  
  .balance-modal .frame-3 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    gap: 25px;
    justify-content: center;
    position: relative;
    width: 350px;
    margin-left: auto;

  }
  
  .balance-modal .button {
    all: unset;
    align-items: center;
    background-color: #ffa62b;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    height: 25px;
    justify-content: center;
    padding: 5px 20px;
    position: relative;
    width: 150px;
  }
  
  .balance-modal .text-wrapper-3 {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .balance-modal .div-wrapper {
    all: unset;
    align-items: center;
    background-color: #000000;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    height: 25px;
    justify-content: center;
    padding: 5px 20px;
    position: relative;
    width: 150px;
  }
  